html {
    font-family: sans-serif;
        -ms-text-size-adjust: 100%;
  }
  body {
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  h1{
      
    padding-top: 4.5%;
    text-align: center;
    font-family: Helvetica, sans-serif; 
    font-size: 25pt;         
    font-style: normal; 
    font-weight: bold; 
  }

.container {
    padding-right: 200px;
    padding-left: 200px;
    margin-right: auto;
    margin-left: auto;
    
  }
  .field{
      padding: 55px 55px;
      margin-right: auto;
      margin-left: auto;
      
  }
  .field p{
    font-size: 15pt;
  }
  .field fieldset{
    background-color: lightskyblue;
    opacity: 0.9;
  }

  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    
  }
  .btn-primary:focus,
  .btn-primary.focus {
    color: white;
    background-color: green;
    border-color: #122b40;
  }
  .btn-primary:hover {
    color: white;
    background-color: #286090;
    border-color: #204d74;
  }
  
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}